@import "tailwindcss";

@theme {
  --color-shadow-button-hover: rgba(31, 31, 31, 0.1);
  --color-neutral: #a1a1a1;
}

button[type="submit"] {
  background: linear-gradient(to bottom right, #16B256 30%, #1F89EE 83%);
}